body{
font-size: 15pt;
line-height: 2
}

img{
 display: block;
 margin: 0px auto;
 background-color: #FFFFFF
}


h1{
font-size: 5em;
page-break-before: always;
padding: 1.5em;
border-bottom: none;
text-align: center;
/*
border-top: solid 20px #400A0;
border-bottom: solid 20px #400A00;
*/
}

h2{
  page-break-before: always;
  break-inside: avoid;
  text-align: left;
font-size: 3em;
position: relative;
padding: 1em;
border:1em;
margin-top: 3.5em;
margin-bottom: 5em;
/*border-bottom: solid 1em #000000;*/
background: #DDDDDD;
border-radius: 2em 2em 2em 2em;
}
h3 {
  text-align: left;
  font-size: 1.4em;
  font-weight:bold;
  padding: 0.4em 1em 0.4em 2em;
  margin: 2em 0em 0.4em 0em;
  
  position: relatite;
  background: #607070;
  color: #FFFFFF;
}
h4 {
border-bottom: solid 2px #000000;
position: relative;
}
h5 {
border-bottom: solid 1px #000000;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #777;
 page-break-inside: avoid;
}


.pin {
  vertical-align: top;
  position: relative;
  top: -0.5em;
    font-size:0.6em;
    position: relative;
    text-align:right;
    margin: 0 0 1em auto;
    width:fit-content;
    background: #FFFF30;
}

.ref {
  position: relative;
    font-size:0.6em;
    position: relative;
    text-align:right;
    margin: 0 0 1em auto;
    width:fit-content;
    background: #FFFF90;
}

@media print {
  .pin{
    background: #FFFF30;
  }
  .ref{
    background: #FFFF90;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.caption {
  text-align: center;
}