body{
font-size: 15pt;
line-height: 2
}

img{
 display: block;
 margin: 0px auto;
 background-color: #FFFFFF
}


h1{
font-size: 3em;
page-break-before: always;
padding: 1.5em;
border-top: solid 20px #400A0;
border-bottom: solid 20px #400A00;
}

h2{
position: relative;
padding: 0.4em;
background: #c03030;
color: #FFFFFF;
}
h3 {
border-bottom: solid 3px #000000;
position: relative;
}
h4 {
border-bottom: solid 2px #000000;
position: relative;
}
h5 {
border-bottom: solid 1px #000000;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #777;
 page-break-inside: avoid;
}


.pin {
  vertical-align: top;
  position: relative;
  top: -0.5em;
    font-size:0.6em;
    position: relative;
    text-align:right;
    margin: 0 0 1em auto;
    width:fit-content;
    background: #406030;
}

.ref {
  position: relative;
    font-size:0.6em;
    position: relative;
    text-align:right;
    margin: 0 0 1em auto;
    width:fit-content;
    background: #609090;
}

@media print {
  .pin{
    background: #E0E0F0;
  }
  .ref{
    background: #E0E0F0;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.caption {
  text-align: center;
}